* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-height: 100vh;
    background-color: black;
}

.button-top {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-right: 5px;
}
button{
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 10px;
}
.speaker-view {
    display: flex;
    margin-right: 5px;
}

.container-webcam {
    margin-top: 0;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 700px;
}

i{
    padding: 5px;
    filter: invert(1);
}
.fa-microphone-slash{
    filter: invert(0);
}

.text {
    color: white;
    text-align: center;
}

.col-7 {
    height: calc(100% / 5 - 10px);
    width: calc(100% / 7 - 10px);
    background-image: url("https://picsum.photos/300/200");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
}
.mute-name{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.384);
}

.button-bot{
    background-color: #222222;
    display: flex;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.big-icon{
    font-size: 35px;

}

.flex{
    display: flex;
    align-items: center;

}

.gap{
    gap: 10px;
}

.end{
    background-color: #4A4A4A;
}

.red-text{
   text-align: center;
    color: red;
}